<div class="summary-card">
  <h3>Order Summary</h3>

  <div class="summary-row">
    <span> Subtotal </span>

    <span> {{ totalAmount() | currency }} </span>
  </div>

  <div class="summary-row">
    <span> Shipping </span>

    <span> Free </span>
  </div>

  <div class="summary-row">
    <span> Tax </span>

    <span> $25 </span>
  </div>

  <hr />

  <div class="summary-row total-row">
    <span> Total </span>

    <span> {{ totalAmount() + 25 }} </span>
  </div>

  <button class="checkout-btn">Proceed To Checkout</button>
</div>
