<div class="summary-card">
  <h3>Order Summary</h3>

  <div class="summary-row">
    <span> Subtotal </span>

    <span> {{ basketTotal().subTotal| currency }} </span>
  </div>

  <div class="summary-row">
    <span> Shipping </span>

    <span> {{basketTotal().shipping|currency}} </span>
  </div>

  <div class="summary-row">
    <span> Tax </span>

    <span> {{basketTotal().tax|currency}} </span>
  </div>

  <hr />

  <div class="summary-row total-row">
    <span> Total </span>

    <span> {{ basketTotal().Total }} </span>
  </div>


</div>
