<div class="shopping-page container py-5">
  <!-- HEADER -->
  <div class="shopping-header">
    <!-- LEFT -->
    <div class="d-flex align-items-center flex-wrap">
      <h1 class="main-title mb-0">Shopping</h1>
      <span class="results-text">
        Showing {{ Products.length }} of {{ totalCount }} products
      </span>
    </div>

    <!-- SEARCH -->
    <div class="search-container">
      <div class="input-group search-bar">
        <input
          #search
          (keyup.enter)="onSearch(search.value)"
          (keyup)="onSearch(search.value)"
          type="text"
          class="form-control"
          placeholder="Search products..."
        />

        <button (keyup)="onSearch(search.value)" class="btn search-btn">
          Search
        </button>
        <button (click)="resetFilters()" class="btn reset-btn">Reset</button>
      </div>
    </div>
  </div>

  <div class="row g-4">
    <!-- SIDEBAR -->
    <aside class="col-lg-3">
      <div class="sidebar-card">
        <!-- SORT -->
        <div class="mb-4">
          <h5 class="section-title">Sort Products</h5>

          <select
            #sort
            class="form-select custom-select"
            (change)="onSortSelected($event)"
          >
            <option value="" selected>Sort By</option>

            <option value="name">Name</option>

            <option value="price">Price</option>
          </select>

          <!-- DESCENDING -->
          <div class="form-check custom-check mt-3">
            <input
              #isDesc
              (change)="onOrderChange($event)"
              class="form-check-input"
              type="checkbox"
              id="descending"
            />

            <label class="form-check-label" for="descending">
              Descending Order
            </label>
          </div>
        </div>

        <!-- CATEGORIES -->
        <div>
          <h5 class="section-title">Categories</h5>
          <select #selectedCategory class="list-group category-list">
            <option
              (click)="onSelectCategory(0)"
              class="list-group-item category-item"
              value="all-products"
              selected
            >
              All Products
            </option>
            @for (category of Categories; track category.categoryID) {
              <option
                (click)="onSelectCategory(category.categoryID)"
                class="list-group-item category-item"
                [value]="category.categoryID"
              >
                {{ category.categoryName }}
              </option>
            }
          </select>
        </div>
      </div>

      <app-custom-pagination
        [pageSize]="productParams.pageSize"
        [totalCount]="totalCount"
        (pageChanged)="onPageChanged($event)"
      />
    </aside>

    <!-- PRODUCTS -->
    <section class="col-lg-9">
      <div class="row g-4">
        @for (product of Products; track product.productID) {
          <ng-container>
            <div class="col-12 col-sm-6">
              <app-product [product]="product" />
            </div>
          </ng-container>
        }
      </div>
    </section>
  </div>
</div>
