@import 'material-icons/iconfont/material-icons.css';


html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #111;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1d2026;
}

app-navbar,
app-footer {
  display: block;
}

.main-content {
  flex: 1;
}