@if (basket.basketItems.length == 0) {
  <div class="container py-5 main-container text-center text-white">
    <div class="row justify-content-center py-5">
      <div class="col-12 col-md-6">
        <!-- Clean, minimal header -->
        <h2 class="fw-semibold mb-2 fs-3 text-light">Your basket is empty</h2>

        <!-- Subtle muted paragraph -->
        <p class="text-secondary mb-4 fs-6">
          Looks like you haven't added anything to your cart yet.
        </p>

        <div class="container">
          <a routerLink="/shopping" class="btn start-shopping-btn">
            Start Shopping
          </a>
        </div>
      </div>
    </div>
  </div>
} @else {
  <section class="basket-page">
    <div class="container">
      <h1 class="page-title">Shopping Basket</h1>

      <div class="row g-4">
        <!-- BASKET ITEMS -->
        <div class="col-lg-8">
          <!-- ITEM -->
          @for (item of basket.basketItems; track basket.basketID) {
            <div class="basket-item">
              <img
                [src]="'https://localhost:7041' + item.imageURL"
                alt="Product"
                class="product-image"
              />

              <div class="product-info">
                <span class="category"> {{ item.category }} </span>

                <h4 class="product-name">{{ item.itemName }}</h4>

                <div class="price">{{ item.price | currency }}</div>
              </div>

              <!-- QUANTITY -->
              <div class="quantity-box">
                <button (click)="changeQuantity(-1,item.itemID)">-</button>

                <span>{{ item.quantity }}</span>

                <button (click)="changeQuantity(1,item.itemID)">+</button>
              </div>

              <!-- TOTAL -->
              <div class="item-total">
                {{ item.quantity * item.price | currency }}
              </div>

              <button (click)="deleteItem(item.itemID)" class="remove-btn">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          }
        </div>

        <!-- ORDER SUMMARY -->
        <div class="col-lg-4">
          <app-order-summary [totalAmount]="totalAmount"/>
        </div>
      </div>
    </div>
  </section>
}
