<section class="reset-password-page">
  <div class="container">
    <div class="reset-password-card">
      <div class="page-header">
        <div class="icon-wrapper">
          <i class="fa fa-key"></i>
        </div>

        <h1>Reset Password</h1>

        <p>Enter your new password and confirm it.</p>
      </div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="col-12">
          <label class="form-label"> New Password * </label>

          <div class="position-relative">
            <input
              [type]="hidePassword ? 'password' : 'text'"
              class="form-control custom-input pe-5"
              formControlName="password"
              placeholder="Enter New Password"
            />

            <button
              type="button"
              (click)="hidePassword = !hidePassword"
              class="btn position-absolute top-50 end-0 translate-middle-y border-0 bg-transparent text-secondary py-0"
              style="z-index: 10; padding-right: 0.75rem"
            >
              @if (hidePassword) {
                <i class="fa fa-eye"></i>
              } @else {
                <i class="fa fa-eye-slash"></i>
              }
            </button>
          </div>

          @if (password.touched && password.errors?.["required"]) {
            <small class="text-danger"> Password is required. </small>
          }

          @if (password.touched && password.errors?.["minlength"]) {
            <small class="text-danger">
              Password must be at least 8 characters.
            </small>
          }
        </div>
        <!-- CONFIRM PASSWORD -->

        <div class="col-12">
          <label class="form-label"> Confirm Password * </label>

          <div class="position-relative">
            <input
              [type]="hideConfirmPassword ? 'password' : 'text'"
              class="form-control custom-input pe-5"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
            />

            <button
              type="button"
              (click)="hideConfirmPassword = !hideConfirmPassword"
              class="btn position-absolute top-50 end-0 translate-middle-y border-0 bg-transparent text-secondary py-0"
              style="z-index: 10; padding-right: 0.75rem"
            >
              @if (hideConfirmPassword) {
                <i class="fa fa-eye"></i>
              } @else {
                <i class="fa fa-eye-slash"></i>
              }
            </button>
          </div>

          @if (
            confirmPassword.touched && confirmPassword.errors?.["required"]
          ) {
            <small class="text-danger"> Confirm password is required. </small>
          }

          @if (
            resetPasswordForm.errors?.["passwordMismatch"] &&
            confirmPassword.touched
          ) {
            <small class="text-danger"> Passwords do not match. </small>
          }
        </div>
        <button
          type="submit"
          class="btn submit-btn mt-5"
          [disabled]="resetPasswordForm.invalid"
        >
          Reset Password
        </button>
      </form>

      <!-- <div class="back-link">
        <a routerLink="/login">
          <i class="fa fa-arrow-left me-2"></i>
          Back To Login
        </a>
      </div> -->
    </div>
  </div>
</section>
