<section class="checkout-page">
  <div class="container">
    <div class="row g-4">
      <!-- LEFT SIDE -->

      <div class="col-lg-8">
        <div class="checkout-card">
          <h2 class="page-title">Checkout</h2>

          <p class="page-description">Choose your preferred delivery option.</p>

          <div class="mb-4">
            <label class="form-label"> Delivery Option </label>

            <ng-select
              class="custom-select"
              [items]="deliveryOptions"
              bindValue="deliveryMethodId"
              placeholder="Delivery method"
              (change)="onDeliveryChange($event)"
            >
              <!-- How the option looks inside the dropdown list -->
              <ng-template ng-option-tmp let-item="item">
                @for (item of deliveryOptions; track item.deliveryMethodId) {
                  <div class="delivery-option-row">
                    <span class="provider-method">
                      <strong>{{ item.providerName }}</strong> -
                      {{ item.methodName }}
                    </span>
                    <span class="delivery-details">
                      ({{ item.deliveryTime }}) |
                      <strong>{{ item.price | currency }}</strong>
                    </span>
                  </div>
                }
              </ng-template>

              <!-- How the chosen option looks when the dropdown is closed -->
              <ng-template ng-label-tmp let-item="item">
                <span>
                  {{ item.providerName }} ({{ item.methodName }}) - {{
                    item.price | currency
                  }}
                </span>
              </ng-template>
            </ng-select>
          </div>
          <!-- [disabled]="checkoutForm.invalid" -->
          <button class="btn continue-btn" [disabled]="deliveryOptionId==0" (click)="onSubmit()">
            Continue
          </button>
        </div>
      </div>

      <!-- RIGHT SIDE -->

      <div class="col-lg-4">
        <app-order-summary [basketTotal]="basketTotal" />
      </div>
    </div>
  </div>
</section>
