<section class="register-page">
  <div class="container">
    <div class="register-card">
      <div class="register-header">
        <h1>Create Account</h1>

        <p>Join Silk Road and start shopping today.</p>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
          <!-- FIRST NAME -->
          <div class="col-md-4">
            <label class="form-label">First Name *</label>

            <input
              type="text"
              class="form-control custom-input"
              [class.required]="
                !registerForm.controls.firstName.valid &&
                registerForm.controls.firstName.touched
              "
              formControlName="firstName"
              placeholder="John"
            />
          </div>

          <!-- MIDDLE NAME -->
          <div class="col-md-4">
            <label class="form-label">Middle Name</label>

            <input
              type="text"
              class="form-control custom-input"
              formControlName="middleName"
              placeholder="Michael"
            />
          </div>

          <!-- LAST NAME -->
          <div class="col-md-4">
            <label class="form-label">Last Name *</label>

            <input
              type="text"
              class="form-control custom-input"
              [class.required]="
                !registerForm.controls.lastName.valid &&
                registerForm.controls.lastName.touched
              "
              formControlName="lastName"
              placeholder="Doe"
            />
          </div>

          <!-- DISPLAY NAME -->
          <div class="col-md-6">
            <label class="form-label">Display Name *</label>

            <input
              type="text"
              class="form-control custom-input"
              [class.required]="
                !registerForm.controls.displayName.valid &&
                registerForm.controls.displayName.touched
              "
              formControlName="displayName"
              placeholder="John Doe"
            />
          </div>

          <!-- USERNAME -->
          <div class="col-md-6">
            <label class="form-label">Username *</label>

            <input
              type="text"
              class="form-control custom-input"
              [class.required]="
                !registerForm.controls.username.valid &&
                registerForm.controls.username.touched
              "
              formControlName="username"
              placeholder="john_doe"
            />
          </div>

          <!-- EMAIL -->
          <div class="col-12">
            <label class="form-label">Email Address *</label>

            <input
              type="email"
              class="form-control custom-input"
              [class.required]="
                !registerForm.controls.email.valid &&
                registerForm.controls.email.touched
              "
              formControlName="email"
              placeholder="john@example.com"
            />
          </div>

          <!-- PASSWORD -->
          <div class="col-12">
            <label class="form-label">Password *</label>

            <input
              type="password"
              class="form-control custom-input"
              [class.required]="
                (!registerForm.controls.password.valid &&
                  registerForm.controls.password.touched) ||
                (!passwordMatchValidator &&
                  registerForm.controls.confirmPassword.touched)
              "
              formControlName="password"
              placeholder="Enter Password"
            />
            <label class="form-label">Confirm Password</label>

            <input
              type="password"
              class="form-control custom-input"
              [class.required]="
                (!registerForm.controls.confirmPassword.valid &&
                  registerForm.controls.confirmPassword.touched) ||
                (!passwordMatchValidator &&
                  registerForm.controls.confirmPassword.touched)
              "
              formControlName="confirmPassword"
              placeholder="Confirm Entered Password"
            />
          </div>

          @if (!passwordMatchValidator) {
            <p class="text-danger">password doesn't match</p>
          }
        </div>

        <button
          type="submit"
          class="btn register-btn mt-4"
          [disabled]="registerForm.invalid"
        >
          Create Account
        </button>
      </form>

      <div class="login-link">
        Already have an account?

        <a routerLink="/login"> Login </a>
      </div>
    </div>
  </div>
</section>
