<article class="product-card">
  <!-- PRODUCT IMAGE -->
  <div class="product-media">
    <a class="main-image-container">
      <img
        [src]="'https://localhost:7041'+product().imageURLs[0]"
        [alt]="product().productName + ' image'"
        class="main-image"
      />

      <span class="category-badge"> {{ product().categoryName }}</span>
    </a>

    <!-- THUMBNAILS -->
    <div class="thumbnail-container">
      @for (image of product().imageURLs; track $index) {
        <img
          [src]="'https://localhost:7041'+image"
          [alt]="product().productName + ' thumbnail'"
          class="thumbnail-image"
        />
        <!-- active-thumb first one by default -->
      }
    </div>
  </div>

  <!-- PRODUCT INFO -->
  <div class="product-content">
    <!-- CATEGORY -->
    <span class="product-category"> Running Collection </span>

    <!-- TITLE -->
    <h2 class="product-title">{{product().productName}}</h2>

    <!-- DESCRIPTION -->
    <p class="product-description">
      {{product().description}}
    </p>

    <!-- PRICE -->
    <div class="price-container">
      <span class="new-price"> {{product().newPrice|currency}} </span>

      <span class="old-price"> {{product().oldPrice|currency}} </span>

      <span class="discount-badge"> {{getDiscountPercent()}}%</span>
    </div>

    <!-- RATING -->
    <div class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>

      <span class="rating-text"> (4.5) </span>
    </div>

    <!-- ACTIONS -->
    <div class="product-actions">
      <button class="btn custom-btn-outline favorite-btn">
        <i class="fa fa-bookmark"></i>
      </button>

      <button class="btn add-cart-btn">
        <i class="fa fa-shopping-cart"></i>

        <span> Add To Basket </span>
      </button>

      <button class="btn details-btn">
        <i class="fa fa-info-circle"></i>
      </button>
    </div>
  </div>
</article>
